on:
  release:
    types: [created]
jobs:
  build:
    runs-on: windows-2016
    steps:
      - uses: actions/setup-node@master
        with:
           node-version: "13.x" 
      - name: "Setup NASM for windows"
        uses: ilammy/setup-nasm@v1
      - name: Install Python2 for windows
        uses: actions/setup-python@v1
        with:
          python-version: '2.x'
     
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}

      - name: Build Qode binary
        run: node build.js
        env:
          SYNC_GIT_SUBMODULE: 1
      
      - name: Consolidate Windows release assets
        run: mkdir -p node/out/Release/qode-release && cp -rf node/out/Release/qode.exe node/out/Release/qode.exp node/out/Release/qode.lib node/out/Release/qode-release/
    
          
      - name: Compress files
        uses: master-atul/tar-action@v0.0.1
        id: compress
        with:
          command: c
          files: |
            ./node/out/Release/qode.exe
            ./node/out/Release/qode.lib
            ./node/out/Release/qode.exp
          outPath: qode-win32-x64-${{github.event.release.tag_name}}.tar.gz
      
      - name: Release
        uses: softprops/action-gh-release@master
        with:
          files: qode-*.tar.gz
          tag_name: ${{ github.event.release.tag_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}